.button {
  background: $brand-blue;
  color: $bg-pastel;
  border: none;
  font-size: 1rem;
  padding: $spacing-default;
  border-radius: $spacing-xxs;
  cursor: pointer;
  transition: background .2s;

  &:hover,
  &:focus {
    background: $active-blue;
  }

  &--clean {
    border: none;
    background: none;
    color: $brand-blue;
    padding: $spacing-xs;
    cursor: pointer;
  
    &:hover,
    &:focus {
      background: $active-yellow;
    }
  }

  &--width-150 {
    width: 150px;
  }

  &--center {
    margin: auto;
  }
}