$brand-yellow: #ffe400;
$active-yellow: #e9d100;
$dark-yellow: #d6c102;
$brand-blue: #00f;
$active-blue: #0005be;
$bg-pastel: #fffeca;
$off-black: #555;
$fog: #f6f6f6;
$red: #df2222;
$dark-red: #bf2727;

$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 14px;
$spacing-default: 20px;
$spacing-l: 26px;
$spacing-xl: 32px;
$spacing-xxl: 64px;

$media-s: 500px;
$media-m: 768px;
$media-l: 1024px;
$media-xl: 1280px;

$page-width: 1280px;